@use "../abstracts/variables" as v;

*,
*::after,
*::before {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: v.$font-size;
}

html, body {
  overflow: hidden;
}

body {
  background: var(--pip-boy-background-color);
  box-sizing: border-box;
}

#overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: v.$overlay-width;
}

/** RESPONSIVE ********************************************************************************************************/
@each $breakpoint, $factor in v.$responsive-width-breakpoints {
  @media screen and (max-width: $breakpoint) {
    html {
      font-size: v.$font-size * $factor;
    }
    #overlay {
      width: v.$overlay-width * $factor;
    }
    #header-line-before, #header-line-after {
      width: v.$header-line-width * $factor;
    }
  }
}

@media screen and (max-height: 740px) and (min-width: 960px) {
  html {
    font-size: v.$font-size * 0.5;
  }
  #overlay {
    width: v.$overlay-width * 0.5;
  }
  #header-line-before, #header-line-after {
    width: v.$header-line-width * 0.5;
  }
}

@media screen and (max-height: 500px), screen and (max-width: 340px) {
  .screen {
    display: none;
  }
}

.container {
  position: relative;
  background: linear-gradient(
      rgba(54, 49, 49, 0.1) 50%,
      transparent 0
    )
    0 0 / 100% 4px; /* adjust the spacing (4px) as per your desired scan line thickness */
  background-repeat: repeat;
  border-radius: 7rem;
  overflow: hidden;
}

#video {
  width: 100%;
  height: 100%;
}

.settings-button {
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: 100000;
  background-color: transparent;
}

.settings-button:focus {
  border: 0px;
}

.watch-button {
  position: absolute;
  top: 0px;
  right: 30px;
  z-index: 100000;
  background-color: transparent;
}

.container { display:block; }
@media only screen and (orientation:portrait){
  .container {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  .container {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}



