.map-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

#idf-map {
  filter: var(--pip-boy-filter-images)
}


.map-container-inner {
  position: relative;
  width: 400px;
  height: 300px;
}

.map-container-inner::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.5);
  z-index: 1;
}



@keyframes glow {
  0% {
    background-color: rgba(231, 12, 12, 0.6);
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(231, 12, 12, 1);
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8);
  }
}