@use "../abstracts/variables" as v;
@use "../abstracts/mixins";



.settings-container {
  color: green;
  padding: 20px;
  font-family: monospace;
  text-align: center;
  width: 100%!important;
  overflow: scroll;
}

.settings-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.settings-top-border {
  width: 90%;
  position: absolute;
  top: 40%;
  height: 10px;
  transform: translateY(-50%);
  border: 1px solid var(--pip-boy-primary-color);
  border-bottom: 0px;
  z-index: -1;
}

.settings-title {
  margin-bottom: 15px;
  text-align: center;
  background-color: #0F160E;
  position: relative;
  color: var(--pip-boy-primary-color);
  padding: 0px 10px;
  font-weight: 700;
  font-size: 16px;
}

.settings-subtitle {
  font-size: 12px;
  margin-bottom: 10px;
  color: var(--pip-boy-primary-color);
}

.settings-option-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.settings-option {
  background-color: var(--pip-boy-primary-color);
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  width: 50%;
  margin: auto;
}

.settings-subOptions-container {
  display: flex;
  margin: auto;
  gap: 10px;
}

.settings-subOption {
  background-color: var(--pip-boy-primary-color);;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.settings-bottom-border {
  width: 90%;
  position: absolute;
  height: 10px;
  border: 1px solid var(--pip-boy-primary-color);
  border-top: 0px;
  z-index: -1;
  margin: auto;
}


// TERMINAL
/* TerminalComponent.css */
.crt-terminal {
  border: none!important;
  padding: none!important;
  background: none!important;
  box-shadow: none!important;
  font-size: 10px;
  font-family: monospace;
  padding: 20px!important;
}

.crt-text-word {
  width: 100%!important;
}

.crt-character {
  width: 100%!important;
  display: flex;
  word-break: normal!important;
  white-space: normal!important;
}

.crt-command-line {
  display: flex!important;
  align-items: center!important;
}

.crt-text-line {
  font-size: 10px!important;
}

.crt-command-line__input-string, .crt-command-word {
  display: flex!important;
  align-items: center!important;
  width: fit-content!important;
  gap: 5px!important;
}

.crt-command-line__input-string span, .crt-command-word, .crt-command-line__prompt {
  font-size: 10px!important;
}

.crt-terminal__overflow-container {
  overflow: hidden!important;
}