@use '../abstracts/variables' as v;

header {
  text-transform: uppercase;
  position: relative;
  width: 100%;
}
.upper-header ul {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  border-bottom: 1px solid var(--pip-boy-primary-color);
  cursor: pointer;
  padding-bottom: 6px;
}

.header ul li {
  cursor: pointer;
}


.upper-header ul li a {
  margin-bottom: 15px;
  text-align: center;
  background-color: #0F160E;
  position: relative;
  padding: 0px 10px;
  font-weight: 700;
  font-size: 16px;
}

.upper-header ul .tab-active {
  position: relative;
}

.upper-header ul .tab-active::before {
  content: ' ';
  width: 120%;
  height: 22px;
  position: absolute;
  top: 40%;
  left: -10%;
  border: 1px solid var(--pip-boy-primary-color);
  border-bottom: 2px solid #0F160E;
}


.sub-header-stat {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 10px 0px 0px 0px 
}

.tabs, .sub-tabs {
  display: flex;
  align-items: center;
}


.tabs li > a,
.sub-tabs li > a {
  color: var(--pip-boy-primary-color);
}

.sub-tabs li > a {
  font-size: 18px;
  font-weight: 600;
}

.sub-tabs {
  display: none; //only the .sub-tabs-active should be displayed
}

.sub-tabs-active {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 10vw;
  margin-bottom: 15px;
}

.sub-tabs li > a {
  margin-right: 0.8rem;
}